.login {
  background-color: white;
  width: 500px;
  height: 400px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin: 0 auto;
  padding: 0 80px;
}

.login h1 {
  padding: 20px 0 30px 0;
  color: #363636;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__form input {
  padding: 0 0 0 10px;
  margin-bottom: 30px;
  height: 30px;
  font-weight: 400;
  font-size: 1.4rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #363636;
}

.login__form input::placeholder {
  transform: translateY(0px);
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.login__form input:hover, .login__form input:focus, .login__form input:active:focus {
  outline: none;
}

.login__form input:hover::placeholder, .login__form input:focus::placeholder, .login__form input:active:focus::placeholder {
  position: relative;
  transform: translateY(-25px);
}

.login__form__buttons {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.login__form button {
  cursor: pointer;
  width: 50%;
  height: 70px;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  outline: none;
  overflow: hidden;
  background-image: linear-gradient(to left, transparent, transparent 50%, #dcdcdc 50%, #dcdcdc);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
}

.login__form button:nth-of-type(1) {
  border-radius: 0 0 0 5px;
  background: #c4c4c4;
  color: #363636;
}

.login__form button:nth-of-type(1):hover {
  color: #fff !important;
  background-color: transparent;
  text-shadow: none;
}

.login__form button:nth-of-type(1):before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: "";
  color: #fff !important;
  background: #363636;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.login__form button:nth-of-type(1):hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.login__form button:nth-of-type(2) {
  border-radius: 0 0 5px 0;
  background: #c4c4c4;
  color: #000;
}

.login__form button:nth-of-type(2):hover {
  color: #fff !important;
  background-color: transparent;
  text-shadow: ntwo;
}

.login__form button:nth-of-type(2):before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: "";
  color: #fff !important;
  background: #363636;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.login__form button:nth-of-type(2):hover:before {
  top: 0%;
  bottom: auto;
  height: 100%;
}
